html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.container .jumbotron {
    text-align: center;
    padding: 0;
    background-color: transparent;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.padding-10 {
    padding: 10px;
}
.margin-10 {
    margin: 10px;
}

div#map {
  width: 100%;
  height: 300px;
  position: relative;
  overflow: hidden;
  transform: translateZ(0px);
  background-color: rgb(229, 227, 223);
  margin-bottom: 50px;
}

ul.breadcrumb {
  background-color: white;
  border: none;
}


.page-header {
  margin-top: 0 !important;
}

.page-header h1 {
  margin-top: 10px !important;
}


.jumbotron .lead {
  line-height: 100px;
  font-size: 38px;
}

.search-form span {
  font-size: 12px;
  color: #818181;
}

.search-form .btn {
  margin-top: 10px;
}

.search-form input {
  width: 80%;
  margin-top: 3px;
}


.popular {
  margin-top: 50px;
}
